<!-- templates/fragmentos/header.html -->
<header th:fragment="header(activePage)">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"> Muttley </a>


            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">

                <ul class="navbar-nav me-auto">
                    <!-- Item normal -->
                    <li class="nav-item"><a class="nav-link"
                        th:classappend="${activePage == 'inicio'} ? 'active' : ''"
                        th:href="@{/inicio}"> <i class="fas fa-home me-1"></i>
                            Início
                    </a></li>

                    <!-- Dropdown de Alunos -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="alunosDropdown"
                           role="button" data-bs-toggle="dropdown" aria-expanded="false"
                           th:classappend="${activePage == '' || activePage == 'aluno'} ? 'active' : ''"
                           style="cursor: pointer;"> <i class="fas fa-user-graduate me-1"></i>
                            Aluno
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="alunosDropdown">
                            <li><a class="dropdown-item"
                                   th:classappend="${activePage == 'aluno'} ? 'active' : ''"
                                   th:href="@{/aluno/listagem}"> <i class="fas fa-list me-1"></i>Listar Alunos</a>
                            </li>
                            <li><a class="dropdown-item"
                               th:classappend="${activePage == 'aluno'} ? 'active' : ''"
                               th:href="@{/aluno/formulario}"> <i class="fas fa-plus-circle me-1"></i> Cadastrar Aluno
                            </a></li>
                        </ul>
                    </li>

                    <!-- Dropdown de Professores -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="professorDropdown"
                           role="button" data-bs-toggle="dropdown" aria-expanded="false"
                           th:classappend="${activePage == '' || activePage == 'professor'} ? 'active' : ''"
                           style="cursor: pointer;"> <i class="fas fa-chalkboard-teacher me-1"></i>
                            Professor
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="professorDropdown">
                            <li><a class="dropdown-item"
                                   th:classappend="${activePage == 'professor'} ? 'active' : ''"
                                   th:href="@{/professor/listagem}"> <i class="fas fa-list me-1"></i>Listar Professores</a>
                            </li>
                            <li><a class="dropdown-item"
                                   th:classappend="${activePage == 'professor'} ? 'active' : ''"
                                   th:href="@{/professor/formulario}"> <i class="fas fa-plus-circle me-1"></i> Cadastrar Professor
                            </a></li>
                        </ul>
                    </li>

                    <!-- Dropdown de Disciplinas -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="disciplinaDropdown"
                           role="button" data-bs-toggle="dropdown" aria-expanded="false"
                           th:classappend="${activePage == '' || activePage == 'disciplina'} ? 'active' : ''"
                           style="cursor: pointer;"> <i class="fas fa-book me-1"></i>
                            Disciplina
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="disciplinaDropdown">
                            <li><a class="dropdown-item"
                                   th:classappend="${activePage == 'disciplina'} ? 'active' : ''"
                                   th:href="@{/disciplina/listagem}"> <i class="fas fa-list me-1"></i>Listar Disciplinas</a>
                            </li>
                            <li><a class="dropdown-item"
                                   th:classappend="${activePage == 'disciplina'} ? 'active' : ''"
                                   th:href="@{/disciplina/formulario}"> <i class="fas fa-plus-circle me-1"></i> Cadastrar Disciplina
                            </a></li>
                        </ul>
                    </li>

                    <!-- Dropdown de Eventos -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="eventoDropdown"
                           role="button" data-bs-toggle="dropdown" aria-expanded="false"
                           th:classappend="${activePage == '' || activePage == 'evento'} ? 'active' : ''"
                           style="cursor: pointer;"> <i class="fas fa-calendar-alt me-1"></i>
                            Evento
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="eventoDropdown">
                            <li><a class="dropdown-item"
                                   th:classappend="${activePage == 'evento'} ? 'active' : ''"
                                   th:href="@{/evento/listagem}"> <i class="fas fa-list me-1"></i>Listar Eventos</a>
                            </li>
                            <li><a class="dropdown-item"
                                   th:classappend="${activePage == 'evento'} ? 'active' : ''"
                                   th:href="@{/evento/formulario}"> <i class="fas fa-plus-circle me-1"></i> Cadastrar Evento
                            </a></li>
                        </ul>
                    </li>

                    <!-- Dropdown de Medalhas -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="medalhaDropdown"
                           role="button" data-bs-toggle="dropdown" aria-expanded="false"
                           th:classappend="${activePage == '' || activePage == 'medalha'} ? 'active' : ''"
                           style="cursor: pointer;"> <i class="fas fa-medal me-1"></i>
                            Medalha
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="medalhaDropdown">
                            <li><a class="dropdown-item"
                                   th:classappend="${activePage == 'medalha'} ? 'active' : ''"
                                   th:href="@{/medalha/listagem}"> <i class="fas fa-list me-1"></i>Listar Medalhas</a>
                            </li>
                            <li><a class="dropdown-item"
                                   th:classappend="${activePage == 'medalha'} ? 'active' : ''"
                                   th:href="@{/medalha/formulario}"> <i class="fas fa-plus-circle me-1"></i> Cadastrar Medalha
                            </a></li>
                        </ul>
                    </li>

                    <!-- Dropdown de Participantes -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="participanteDropdown"
                           role="button" data-bs-toggle="dropdown" aria-expanded="false"
                           th:classappend="${activePage == '' || activePage == 'participante' || activePage == 'Participante'} ? 'active' : ''"
                           style="cursor: pointer;"> <i class="fas fa-users me-1"></i>
                            Participante
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="participanteDropdown">
                            <li><a class="dropdown-item"
                                   th:classappend="${activePage == 'participante' || activePage == 'Participante'} ? 'active' : ''"
                                   th:href="@{/participante/listagem}"> <i class="fas fa-list me-1"></i>Listar Participantes</a>
                            </li>
                            <li><a class="dropdown-item"
                                   th:classappend="${activePage == 'participante' || activePage == 'Participante'} ? 'active' : ''"
                                   th:href="@{/participante/formulario}"> <i class="fas fa-plus-circle me-1"></i> Cadastrar Participante
                            </a></li>
                        </ul>
                    </li>
                </ul>

                <div class="d-flex align-items-center">
                    <!--  <div class="dropdown">
                         <a href="#" class="d-block link-light text-decoration-none dropdown-toggle"
                            id="dropdownUser" data-bs-toggle="dropdown">
                             <span th:if="${session.usuarioLogado != null}" th:text="${session.usuarioLogado.user}" class="me-2 user-greeting"></span>
                             <img th:src="@{/img/user-avatar.png}" alt="Perfil" width="32" height="32" class="rounded-circle">
                         </a>
                         <ul class="dropdown-menu dropdown-menu-end">
                             <li><a class="dropdown-item" href="#"><i class="fas fa-user me-2"></i> Perfil</a></li>
                             <li><a class="dropdown-item" href="#"><i class="fas fa-cog me-2"></i> Configurações</a></li>
                             <li><hr class="dropdown-divider"></li>
                             <li>
                                 <a class="dropdown-item text-danger" th:href="@{/logout}">
                                     <i class="fas fa-sign-out-alt me-2"></i> Sair
                                 </a>
                             </li>
                         </ul>
                     </div> -->
                </div>
            </div>
        </div>
    </nav>
</header>
