<!DOCTYPE html>

<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos/head :: head('Listagem Professor')}"></head>
<body>
<header th:replace="~{fragmentos/header :: header(activePage='Professor')}"></header>
<div class="container-fluid" style="max-width: 900px; margin: 0 auto;">
    <h2 class="text-center"
        th:text="${professor!= null} ? 'Editar Professor' : 'Lista Professor'"></h2>
    <div th:if="${message != null}"
         class="alert alert-success alert-dismissible fade show text-center"
         role="alert">
        [[${message}]]
        <button type="button" class="close btn-sm" data-dismiss="alert"
                aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <a href="/professor/formulario" class="btn btn-primary">Novo</a>
    <div th:if="${listaProfessores.size() > 0}">
        <table class="table table-hover table-responsive-xl">
            <thead class="thead-light">
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Formação</th>
                <th scope="col">Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="professor : ${listaProfessores}">
                <td th:text="${professor.nome}"></td>
                <td th:text="${professor.email}"></td>
                <td th:text="${professor.formacao}"></td>
                <td><a th:href="@{'/professor/formulario/' + ${professor.id}}"
                       title="Editar o Professor"
                       class="fa-regular fa-pen-to-square icon-dark"></a> &nbsp;
                    <a
                        th:href="@{'/professor/delete/' + ${professor.id}}"
                        th:professorTitle="${professor.nome}" id="btnDelete"
                        title="Apague este professor"
                        class="fa-regular fa-trash-can icon-dark btn-delete">
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:replace="fragmentos/footer :: footer"></div>
</body>
</html>