* {
    margin: 0;
    padding: 0;
}

@page {
    size: A4 landscape;
    margin: 0;
}

html, body {
    width: 297mm;
    height: 209mm;
    background: #ffffff;
    font-family: Calibri, Arial, sans-serif;
}

.certificado {
    position: relative;
    width: 297mm;
    height: 209mm;
    background-image: url("Fundo.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

.section-titulo {
    position: absolute;
    top: 0;
    width: 100%;
    height: 25%;
    text-align: center;
}

.text-titulo {
    margin-top: 80px;
    font-size: 75px;
    font-weight: bold;
    color: #ffc000;
}

.section-conteudo {
    position: absolute;
    top: 25%;
    width: 100%;
    height: 45%;
    text-align: center;
}

.text-destinatario, .text-nome-destinatario, .text-descricao, .text-data {
    width: 75%;
    margin: 0 auto 25px auto;
    text-align: center;
}

.text-destinatario {
    font-size: 20px;
}
.text-nome-destinatario {
    font-size: 25px;
    font-weight: bold;
    margin: 10px auto 20px auto;
}
.text-descricao {
    font-size: 20px;
    text-align: justify;
    line-height: 1.3;
}
.text-data {
    font-size: 25px;
    margin-top: 20px;
}

.section-assinatura {
    position: absolute;
    bottom: 40mm;
    width: 100%;
    text-align: center;
}

.text-assinatura {
    width: 40%;
    margin: 0 auto;
    font-size: 17px;
}

.linha-assinatura {
    width: 300px;
    margin: 0 auto 30px auto;
    border: none;
    border-top: 2px solid #000000;
}
