<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos/head :: head('Listagem Participante')}"></head>
<body>
<header th:replace="~{fragmentos/header :: header(activePage='Participante')}"></header>

<div class="container-fluid" style="max-width: 900px; margin: 0 auto;">
    <h2 class="text-center"
        th:text="${participante != null} ? 'Editar Participante' : 'Lista Participante'"></h2>

    <div th:if="${message != null}"
         class="alert alert-success alert-dismissible fade show text-center"
         role="alert">
        [[${message}]]
        <button type="button" class="close btn-sm" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div th:if="${erro != null}"
         class="alert alert-danger text-center"
         role="alert">
        [[${erro}]]
    </div>

    <a href="/participante/formulario" class="btn btn-primary">Novo</a>

    <div th:if="${listaParticipantes.size() > 0}">
        <table class="table table-hover table-responsive-xl">
            <thead class="thead-light">
            <tr>
                <th scope="col">Inscricao</th>
                <th scope="col">Evento</th>
                <th scope="col">Aluno</th>
                <th scope="col">Acoes</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="participante : ${listaParticipantes}">
                <td th:text="${participante.inscricao}"></td>
                <td th:text="${participante.evento.tema}"></td>
                <td th:text="${participante.aluno.nome}"></td>
                <td>
                    <a th:href="@{'/participante/formulario/' + ${participante.id}}"
                       title="Editar participante"
                       class="fa-regular fa-pen-to-square icon-dark"></a> &nbsp;
                    <a th:href="@{'/participante/delete/' + ${participante.id}}"
                       title="Apagar participante"
                       class="fa-regular fa-trash-can icon-dark btn-delete"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="fragmentos/footer :: footer"></div>
</body>
</html>
