<!DOCTYPE html>

<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos/head :: head('Listagem Aluno')}"></head>
<body>
<header th:replace="~{fragmentos/header :: header(activePage='Aluno')}"></header>
<div class="container-fluid" style="max-width: 900px; margin: 0 auto;">
    <h2 class="text-center"
        th:text="${aluno!= null} ? 'Editar Aluno' : 'Lista Aluno'"></h2>
    <div th:if="${message != null}"
         class="alert alert-success alert-dismissible fade show text-center"
         role="alert">
        [[${message}]]
        <button type="button" class="close btn-sm" data-dismiss="alert"
                aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <a href="/aluno/formulario">Novo</a>
    <div th:if="${listaAlunos.size() > 0}">
        <table class="table table-hover table-responsive-xl">
            <thead class="thead-light">
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Telefone</th>
                <th scope="col">Instituição</th>
                <th scope="col">Matrícula</th>
                <th scope="col">Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="aluno : ${listaAlunos}">
                <td th:text="${aluno.nome}"></td>
                <td th:text="${aluno.email}"></td>
                <td th:text="${aluno.telefone}"></td>
                <td th:text="${aluno.instituicao}"></td>
                <td th:text="${aluno.matricula}"></td>

                <!-- <a th:href="@{/aluno/formulario?id={id}(id=${aluno.id})}"><button>Editar</button></a>
                <form action="/aluno" method="post">
                    <input type="hidden" name="_method" value="delete">
                    <input type="hidden" name="id" th:value="${aluno.id}">
                    <input type="submit" value="Excluir">
                </form> -->


                <td><a th:href="@{'/aluno/formulario/' + ${aluno.id}}"
                       title="Editar o Aluno"
                       class="fa-regular fa-pen-to-square icon-dark"></a> &nbsp; <a


                        th:href="@{'/aluno/delete/' + ${aluno.id}}"
                        th:alunoTitle="${aluno.nome}" id="btnDelete"
                        title="Apague este aluno"
                        class="fa-regular fa-trash-can icon-dark btn-delete"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:replace="fragmentos/footer :: footer"></div>
</body>
</html>